/*顶部*/
.top{ width:100%; height:110px; background:url(../images/bg.png);}
.top .title h2{font-size:42px; color:#fff;}
.top .title h2 span{ font-size:14px;}
.w{ margin:0 auto; width:900px; }



/*头部*/
.head{width:100%; height:50px; background:#010044;}
.head .list li{ float:left; line-height:50px; color:#fff; width:165px; font-size:15px; border-right:1px solid blue; text-align:center;}
.head .list .last{ border-right:none;}




/*content*/
.content .content-l{ background:#f7f7f7; width:622px; height:500px;}

.content .content-l .text{ margin-bottom:30px; margin-top:35px;}
.content .content-l h2{ font-size:30px; clear:#32639b;}
.content .content-l .one{ line-height:20px; text-indent:2em; margin-top:20px;}
.content .content-l .read{ color:#4586c6; margin-top:20px;}



.content-r{ width:280px; height:500px;}
.content-r .color{ background:#e2e2e2; widows:280px; height:80px;}
.content-r h2{ font-size:22px; line-height:30px; margin-top:20px;}
.content-r p{ color:#787878; line-height:25px;}
.content-r .test2 .list2 li{ line-height:30px; color:#787878;}
.content-r .test{ margin-left:30px;}
.content-r .test2{ margin-left:30px;}

